#mesblkml {
  text-align: center;
  margin-bottom: 20px;
}
#mesblkml {
  font-size: 16px;
}
#mesblkml p {
  font-size: inherit;
}
#mesblkml a {
  font-size: 1.2em;
  text-decoration: none;
}
#mesblkml h2 {
  text-decoration: underline;
}

/*utils */
.mes-para {
  line-height: 1.5em;
}
.mes-hvcenter {
  display: inline-block;
  margin-top: 100px;
}
.mes-stack > * {
  display: block;
  margin-bottom: 10px;
}
@media (min-width: 600px) {
  .mes-stack > * {
    display: inline-block;
    margin-bottom: 0;
  }
}
/*quota*/
.mesblkml-quota {
  margin-top: 30px;
}
.mesblkml-quota table {
  width: 250px;
  border-collapse: collapse;
  margin: 0 auto;
}
.mesblkml-quota td,
.mesblkml-quota th {
  text-align: left;
  border: 1px solid;
}

/*sender*/
.mesblkml-sender {
  margin-top: 50px;
}
.mesblkml-sender__status {
  margin-bottom: 20px;
}

/*progress*/
.mesblkml-progress__stats {
  font-size: 1.4em;
}
.mesblkml-progress__stats > span:first-child {
  font-weight: bold;
}
.mesblkml-progress__stats > span:last-child {
  font-size: 0.8em;
}

/*result*/
.mesblkml-result {
  margin-bottom: 30px;
}
.mesblkml-result:before {
  width: 300px;
  display: block;
  border-top: 2px solid #aaa;
  content: "";
  margin: 0 auto;
  max-width: 100%;
  margin-bottom: 1em;
}
.mesblkml-result > div:first-child {
  font-size: 1.4em;
  margin-bottom: 10px;
  font-weight: bold;
}

/*navigation*/
.mesblkml-navigation {
  margin-top: 40px;
}
.mesblkml-navigation:after {
  display: table;
  clear: both;
  content: "";
}
.mesblkml-navigation > a {
  display: inline-block;
  float: left;
}
.mesblkml-navigation > a:last-child {
  float: right;
}
.mesblkml-navigation > a:first-child {
  float: left;
}
.mes-field {
  text-align: left;
  margin-bottom: 16px;
}
.mes-field > div > input[type="text"],
.mes-field > div > textarea {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  background-color: hsl(0, 0%, 100%);
  border: 1px solid hsl(0, 0%, 80%);
  border-radius: 4px;
}
.mes-field > div > input[type="text"] {
  height: 38px;
}
.mes-field--error .mes-multiseclct,
.mes-field--error > div > input[type="text"],
.mes-field--error > div textarea {
  border: 1px solid red;
}
.mes-field--error .mes-multiseclct > div:first-child {
  border: none;
}
.mes-error {
  color: red;
}
.mes-field > .mes-error {
  font-size: 0.9em;
}

/*preview*/
.mes-row {
  margin-bottom: 16px;
  text-align: left;
  position: relative;
}
.mes-row__heading {
  font-weight: bold;
  margin-bottom: 5px;
}
@media (min-width: 768px) {
  .mes-row__heading {
    position: absolute;
    width: 300px;
    margin-bottom: 0;
  }
  .mes-row__detail {
    margin-left: 310px;
    padding: 0 2px;
  }
}
.mes-blkml-preview__feedback {
  text-align: center;
  margin-top: 2em;
  color: #cc3300;
  font-weight: bold;
}

/* msg editor, preview and email preivew */
iframe {
  border: 1px solid hsl(0, 0%, 80%);
  overflow: hidden;
  width: 100%;
  line-height: inherit;
}
textarea {
  overflow: hidden;
  width: 100%;
  resize: none;
  line-break: inherit;
}
.mesblkml-msgwrap {
}
.mesblkml-title {
  font-weight: bold;
  margin-bottom: 1em;
  text-align: left;
}
.mesblkml-title small {
  font-weight: normal;
}
.mesblkml-msgpreview--mobile {
  display: block;
  font-weight: bold;
  margin-bottom: 1em;
}
.mesblkml-msgeditor {
  padding: 0;
  margin-bottom: 1em;
}
.mesblkml-msgpreview {
  display: none;
}
@media (min-width: 768px) {
  .mesblkml-2cols {
    display: flex;
  }
  .mesblkml-2cols > div {
    width: 50%;
  }
  .mesblkml-msgeditor {
    padding-right: 10px;
  }
  .mesblkml-msgpreview {
    border-left: 2px solid hsl(0, 0%, 80%);
    display: block;
    padding-left: 10px;
  }
  .mesblkml-msgpreview p:first-child {
    margin: 0;
  }
  .mesblkml-msgpreview--mobile {
    display: none;
  }
}
