#mesblkml {
  text-align: center;
}
/*common*/
#mesblkml > div {
  display: block;
  margin-bottom: 20px;
}

/*header*/
.mesblkml-quota table {
  width: 250px;
  border-collapse: collapse;
  margin: 0 auto;
}
.mesblkml-quota td,
.mesblkml-quota th {
  text-align: left;
  border: 1px solid;
}

/*progress*/
.mesblkml-progress__stats {
  font-size: 3em;
}
.mesblkml-progress__stats > span:first-child {
  font-weight: bold;
}
.mesblkml-progress__stats > span:last-child {
  font-size: 0.5em;
}

/*result*/
.mesblkml-result {
  margin-top: 30px;
}
.mesblkml-result > div:first-child {
  font-size: 3em;
  margin-bottom: 16px;
  font-weight: bold;
}
.mesblkml-result > div:last-child {
  font-size: 1.2em;
}
/*navigation*/
.mesblkml-navigation:after {
  display: table;
  clear: both;
  content: "";
}
.mesblkml-navigation > a {
  display: inline-block;
  float: left;
}
.mesblkml-navigation > a:last-child {
  float: left;
}

.mes-field {
  text-align: left;
  margin-bottom: 16px;
}
.mes-field input,
.mes-field select,
.mes-field textarea {
  width: 100%;
}

.mes-field--error input,
.mes-field--error select,
.mes-field--error textarea {
  border: 1px solid red;
}
.mes-error {
  color: red;
}
.mes-field > .mes-error {
  font-size: 0.9em;
}
